/* Bloque Principal */
.navbar {
  display: flex;
  justify-content: space-between;
  /* Separa el logo del menú */
  align-items: center;
  /* Centrado vertical */
  padding: 1rem 2rem;
  background-color: #2d3436;
  color: white;
}

.navbar__logo a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #00cec9;
}

.navbar__menu {
  display: flex;
  /* Distribución horizontal de los items */
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar__item {
  margin-left: 1.5rem;
  /* Espaciado entre botones */
}

.navbar__link {
  text-decoration: none;
  color: #dfe6e9;
  transition: color 0.3s ease;
}

.navbar__link:hover {
  color: #00cec9;
}

/* Modificador: Estado Activo */
.navbar__link--active {
  font-weight: bold;
  border-bottom: 2px solid #00cec9;
}