.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #2d3436;
  color: white;
}

.navbar__logo a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #00cec9;
}

.navbar__menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar__item {
  margin-left: 1.5rem;
}

.navbar__link {
  text-decoration: none;
  color: #dfe6e9;
  transition: color 0.3s ease;
}

.navbar__link:hover {
  color: #00cec9;
}

.navbar__link--active {
  font-weight: bold;
  border-bottom: 2px solid #00cec9;
}

.product-card {
  display: flex;
  flex-direction: column;
  /* Apilado vertical */
  width: 300px;
  border: 1px solid #eee;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
  background-color: #fff;
}

.product-card__image {
  width: 100%;
  display: block;
  object-fit: cover;
}